body{
	padding: 0px;
	margin: 0px;	
	font-family: Arial;
	background-color: #e9e9e9;
}

header{
	background-color: #333;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid #000;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.logo{
	margin-top: 8px;
	display: inline-block;
	padding: 5px;
	height: 20px;
	text-decoration: none;
	color: #fff;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 21px;
    text-align: center;
    border: 1px transparent solid;
    width: 192px;
    float: left;
    font-size: 20pt;
}


#content{
	max-width: 100%;
	margin-top: 100px;
}

.container{
	margin-top: 100px;
	width: 960px;
	min-height: 500px;
	background-color: #fff;
}

#bla{
	width: 100%;
	height: 100%;
	z-index: 999;
	overflow: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.8);
	visibility: hidden;
}

.center960{
	width: 960px;
	margin: auto;
}

.navbarbutton{
	margin-top: 8px;
	display: inline-block;
	padding: 5px;
	height: 20px;
	text-decoration: none;
	color: #909090;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 21px;
    text-align: center;
    border: 1px transparent solid;
    width: 88px;
    margin-left: 5px;
    float: left;
}

.navbarbutton:hover{
	background-color: #222;
	border: 1px #444444 solid;
}

.newProjectButton{
	margin-top: 8px;
	display: inline-block;
	padding: 5px;
	height: 20px;
	text-decoration: none;
	color: #fff;
	background-color: #89c15e;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 21px;
    text-align: center;
    border: 1px #354c24 solid;
    width: 188px;
    margin-right: 5px;
    float: right;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    filter: dropshadow(color=rgba(0,0,0,0.4), offx=0, offy=1);
}

.newProjectButton:hover{
	background-color: #9add66;
	border: 1px #9add66 solid;
}


#searchbar{
	display: inline-block;
	width: 150px;
	float: right;
}

header #searchbar input[type=text]{
	float: right;
	height: 20px;
	padding: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	border: 1px #444444 solid;
	background-color: #222;
	color: #888;
	box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1);
	font-size: 10pt;
	margin-top: 8px;
	margin-right: 2px;	
	width: 134px;
	visibility: hidden;
	outline: none;
}

header #searchbar img{
	float: right;
	margin-top: 8px;
	margin-right: 2px;
}

.accountbutton{
	display: block;
	float: right;
	height: 38px;
	padding: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	width: 50px;
	margin-right: -5px;
	line-height: 38px;
	color: #888;
}

.accountbutton img{
	float: right;
	-webkit-border-radius: 38px;
    border-radius: 38px;
}

.accountbuttonname{
	float: left;
	margin-left: 10px;
}

.profileimage{
	display: inline-block;
	background-image: url(images/profile.gif);
	width: 38px;
	height: 38px;
	background-position: 0px 0px;
	-webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    float: left;
}

.profilename{
	float: left;
	display: inline-block;
	padding: 10px;
}

#navbarlist{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#navbarlist li{
	float: left;
	margin-left: 15px;
}

.searchbutton{
	margin-top: 8px;
	float: left;
	margin-left: 50px;
	width: 340px;
}


#tiles {
list-style-type: none;
position: relative; /** Needed to ensure items are laid out relative to this container **/
margin: 0;
padding: 0px;
width: 100%;
}

/**
 * Grid items
 */
#tiles li {
width: 200px;
background-color: rgba(255,255,255,1);
border: 1px solid #dcdcdc;
-webkit-border-radius: 5px;
border-radius: 5px;
display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
padding: 4px;
}

#tiles li img {
display: block;
-webkit-border-radius: 3px 3px 0px 0px;
border-radius: 3px 3px 0px 0px;
}

/**
 * Grid item text
 */
#tiles li p {
color: #666;
font-size: 12px;
margin: 7px 0 0 7px;
}

/**
 * Some extra styles to randomize heights of grid items.
 */
#tiles ali:nth-child(3n) {
height: 175px;
}

#tiles ali:nth-child(4n-3) {
padding-bottom: 30px;
}

#tiles ali:nth-child(5n) {
height: 250px;
}

#feed{
	max-width: 100%;
}

#profilefeed{
	width: 100%;
	display: inline-block;
	float: right;
	margin-right: 23px;
}

.subnavigation{
	width: 200px;
	display: block;
	height: 30px;
	color: #929292;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
}

.subnavigation:hover{
	background-color: #929292;
	color: #fff;
}

#columns{
	color: #fff;
}

.centerit{
	width: 960px;
	margin: auto;
}

#bigsearch{
	position: fixed;
	top: 50px;
	left: 0px;
	width: 100%;
	height: 40px;
	background-color: rgba(0,0,0,0.80);
	border-bottom: 1px #000 solid;
	z-index: 120;
	visibility: hidden;
}

#bigsearch input[type=text]{
	float: right;
	height: 20px;
	padding: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	border: 1px #444444 solid;
	background-color: #222;
	color: #888;
	box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1);
	font-size: 10pt;
	margin-top: 4px;
	margin-right: -2px;
	outline: none;
}

#profilwrapper{
	position: fixed;
	width: 412px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#titlecover{
	width: 100%;
	height: 200px;
	background-color: #4f4f4f;
	border-bottom: 1px #000 solid;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.profileImageProfile{
	position: absolute;
	margin-top: 140px;
	margin-left: 20px;
	border: 3px #fff solid;
	-webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.profilename{
	margin-left: 100px;
}

.profileinformation{
	width: 392px;
	padding: 10px;
}